.main{background-color: rgb(8, 8, 196); }
.cont h4{
            position: absolute;
             top: 5px;
            right: 15px;
            font-size: 20px; color: rgb(255, 255, 255); margin-right: 20px;
                  
      }

.main h1{
            position: absolute;
             top: 5px;
            left: 15px;
            font-size: 30px;
            color: rgb(221, 181, 4); }

 .last{      position: absolute;
            top:120px;
            left: 63%;
            font-size: 20px;}

.last h2{   
            color:rgb(247, 173, 36);
             font-size: 220%;
       }

.last h3{
            color:rgb(255, 255, 255) ; 
            font-size: 180%; 
            font-family: Arial Rounded MT Bold;
       }
.last2{
               background-color: rgb(223, 223, 231); 
               padding-left:18%; padding-top: 5%;
       }
       

button{ 
               border-color: rgb(42, 42, 226); 
               background-color: rgb(33, 33, 236); 
               padding: 1%; width: 15%;
               color: white;}
.history
      {        text-align: center;
               font-size: 200%;
               line-height: 22pt;   
      } 
.circle1
      {      margin-left: 20px; 
               margin-right: 50px;
      }
      .b2
      {
            background-color: rgb(2, 2, 153);
            color: white; 
      }
      .b2 img{padding-left: -80px; padding: 25px; margin-right:170px;
              }
      .b3
              {
                    background-color: rgb(2, 2, 153);
                    color: white; 
              }     
      .but button
              {
                    background-color: rgb(190, 144, 17);
                    color: rgb(5, 2, 2); 
                    cursor: pointer;
              }     
                      
   .but button:hover{
            background-color: rgb(248, 245, 244);
            color: rgb(5, 0, 0); font-size: 90%;
             font-weight: bolder;
      }     
      .n-tab button:hover{
            background-color: rgb(184, 28, 0);
            color: rgb(5, 0, 0); font-size: 60%;
             font-weight: bolder;
      }
       button:hover{
            background-color: rgb(17, 4, 190);
            color: rgb(221, 215, 215); font-size: 60%;
             font-weight: bolder; 
      }
      .a1{padding: 20px;}
    